<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Calculate2">

     <resultMap type="Calculate2" id="calculateResultSet">
        <id property="calNo" column="CAL_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="chNo" column="CH_NO"/>
        <result property="calSTDT" column="CAL_STDT"/>
        <result property="calEDT" column="CAL_EDT"/>
        <result property="calPrice" column="CAL_PRICE"/>
        <result property="calVAT" column="CAL_VAT"/>
        <result property="amountPrice" column="AMOUNT_PRICE"/>
        <result property="calTY" column="CAL_TY"/>
        <result property="accNm" column="ACC_NM"/>
        <result property="bankNm" column="BANK_NM"/>
        <result property="account" column="ACCOUNT"/>
        <result property="nNo" column="RANK"/>
        <result property="userId" column="USER_ID"/>
        <result property="userNm" column="USER_NM"/>
     </resultMap>
     
     <resultMap type="ChannelBoard" id="ChannelResultSet">
        <result property="userId" column="USER_NO"/>
        <result property="chNm" column="CH_NO"/>
        <result property="fileNm" column="FILE_NM"/>
        <result property="price" column="PRICE"/>
        <result property="reCount" column="RE_COUNT"/>
        <result property="cCount" column="C_COUNT"/>
     </resultMap>
	
  	<select id="selectAdminCalculate" resultMap="calculateResultSet">
  		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT, USER_ID, USER_NM
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*, USER_ID, USER_NM
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO))
		ORDER BY RANK ASC
  	</select>	
  	
  	<update id="updateCalculateApply" parameterType="int">
  		UPDATE CALCULATE SET CAL_EDT = SYSDATE, CAL_TY = '완료'
  		WHERE CAL_NO = #{calNo}
  	</update>
	
	<select id="searchWait" resultMap="calculateResultSet">
  		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT, USER_ID, USER_NM
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*, USER_ID, USER_NM
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
		WHERE CAL_TY = '대기')
		ORDER BY RANK ASC
  	</select>
  	<select id="searchSuccess" resultMap="calculateResultSet">
		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT, USER_ID, USER_NM
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*, USER_ID, USER_NM
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
		WHERE CAL_TY = '완료')
		ORDER BY RANK ASC
  	</select>
  	<select id="searchUserNm" resultMap="calculateResultSet">
		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT, USER_ID, USER_NM
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*, USER_ID, USER_NM
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
		WHERE USER_NM = #{userNm})
		ORDER BY RANK ASC
  	</select>
	
	<select id="searchWaitAll" resultMap="calculateResultSet">
		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT, USER_ID, USER_NM
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*, USER_ID, USER_NM
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
		WHERE USER_NM = #{userNm}
		AND CAL_TY = '대기')
		ORDER BY RANK ASC
  	</select>
  	
  	<select id="searchSuccessAll" resultMap="calculateResultSet">
		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT, USER_ID, USER_NM
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*, USER_ID, USER_NM
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
		WHERE USER_NM = #{userNm}
		AND CAL_TY = '완료')
		ORDER BY RANK ASC
  	</select>
  	
  	<select id="channelInfo">
  		SELECT L.CH_NM, M.USER_ID
		FROM LOGER L
		JOIN MEMBER M ON(L.USER_NO = M.USER_NO)
		JOIN ATTACHMENT A ON(L.USER_NO = A.USER_NO)
		WHERE A.AM_TY = '회원'
  	</select>
  	
  	<select id="calInfo">
  		SELECT SUM(C.AMOUNT_PRICE) AS PRICE
		FROM LOGER L
		JOIN CALCULATE C ON(L.CH_NO = C.CH_NO)
  	</select>
  	
  	<select id="reportInfo">
  		SELECT SUM(RE_COUNT), SUM(C_COUNT)
		FROM LOGER L
		JOIN REPORT R ON(L.USER_NO = R.RE_TARGET)
  	</select>
  	
</mapper>









