<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Calculate2">

     <resultMap type="Calculate2" id="calculateResultSet">
        <id property="calNo" column="CAL_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="chNo" column="CH_NO"/>
        <result property="calSTDT" column="CAL_STDT"/>
        <result property="calEDT" column="CAL_EDT"/>
        <result property="calPrice" column="CAL_PRICE"/>
        <result property="calVAT" column="CAL_VAT"/>
        <result property="amountPrice" column="AMOUNT_PRICE"/>
        <result property="calTY" column="CAL_TY"/>
        <result property="accNm" column="ACC_NM"/>
        <result property="bankNm" column="BANK_NM"/>
        <result property="account" column="ACCOUNT"/>
        <result property="nNo" column="RANK"/>
        <result property="userId" column="USER_ID"/>
        <result property="userNm" column="USER_NM"/>
     </resultMap>
     
     <resultMap type="Member" id="memberResultSet">

		<id property="userNo" column="USER_NO" />
		<result property="userNm" column="USER_NM" />
		<result property="userId" column="USER_ID" />
		<result property="userPwd" column="USER_PWD" />
		<result property="nickname" column="NICKNAME" />
		<result property="phone" column="PHONE" />
		<result property="gender" column="GENDER" />
		<result property="birth" column="BIRTH" />
		<result property="age" column="AGE" />
		<result property="adultYN" column="ADULT_YN" />
		<result property="chYN" column="CH_YN" />
		<result property="enrollDT" column="ENROLL_DT" />
		<result property="leaveDT" column="LEAVE_DT" />
		<result property="remainPT" column="REMAIN_PT" />
		<result property="status" column="STATUS" />
		<result property="count" column="COUNT" />
	</resultMap>
	
  	<select id="selectAdminCalculate" resultMap="calculateResultSet">
  		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT, USER_ID, USER_NM
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*, USER_ID, USER_NM
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO))
		ORDER BY RANK ASC
  	</select>	
  	
  	<update id="updateCalculateApply" parameterType="int">
  		UPDATE CALCULATE SET CAL_EDT = SYSDATE, CAL_TY = '완료'
  		WHERE CAL_NO = #{calNo}
  	</update>
	
	<select id="searchWait" resultMap="calculateResultSet">
  		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT, USER_ID, USER_NM
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*, USER_ID, USER_NM
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
		WHERE CAL_TY = '대기')
		ORDER BY RANK ASC
  	</select>
  	<select id="searchSuccess" resultMap="calculateResultSet">
		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT, USER_ID, USER_NM
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*, USER_ID, USER_NM
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
		WHERE CAL_TY = '완료')
		ORDER BY RANK ASC
  	</select>
  	
  	
  	
  	<select id="searchUserNm" resultMap="calculateResultSet">
		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT, USER_ID, USER_NM
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*, USER_ID, USER_NM
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
		WHERE USER_NM = #{userNm})
		ORDER BY RANK ASC
  	</select>
	
	<select id="searchWaitAll" resultMap="calculateResultSet">
		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT, USER_ID, USER_NM
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*, USER_ID, USER_NM
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
		WHERE USER_NM = #{userNm}
		AND CAL_TY = '대기')
		ORDER BY RANK ASC
  	</select>
  	
  	<select id="searchSuccessAll" resultMap="calculateResultSet">
		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT, USER_ID, USER_NM
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*, USER_ID, USER_NM
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
		WHERE USER_NM = #{userNm}
		AND CAL_TY = '완료')
		ORDER BY RANK ASC
  	</select>
  	
	<select id="monthMemberListCount" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT COUNT(*)
   		FROM MEMBER
   		WHERE ENROLL_DT BETWEEN add_months(SYSDATE, -1) AND SYSDATE
  	</select>
  	
  	<select id="weekMemberListCount" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT COUNT(*)
   		FROM MEMBER
   		WHERE ENROLL_DT BETWEEN (SYSDATE - 7) AND SYSDATE
  	</select>
  	
  	<select id="dayMemberListCount" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT COUNT(*)
   		FROM MEMBER
   		WHERE ENROLL_DT BETWEEN (SYSDATE - 1) AND SYSDATE
  	</select>
  	
  	<select id="monthRevenueListCount" parameterType="int" resultType="int">
		SELECT SUM(CAL_VAT)
		FROM CALCULATE
		WHERE CAL_EDT BETWEEN add_months(SYSDATE, -1) AND SYSDATE
  	</select>
  	
  	<select id="weekRevenueListCount" parameterType="int" resultType="int">
		SELECT SUM(CAL_VAT)
		FROM CALCULATE
		WHERE CAL_EDT BETWEEN (SYSDATE - 7) AND SYSDATE
  	</select>
  	
  	<select id="dayRevenueListCount" parameterType="int" resultType="int">
		SELECT SUM(CAL_VAT)
		FROM CALCULATE
		WHERE CAL_EDT BETWEEN (SYSDATE - 1) AND SYSDATE
  	</select>

  	
</mapper>









