<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Attachment">

	<resultMap type="com.kh.with.video.model.vo.Video"
		id="videoRSet">

		<id property="vNo" column="V_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="vTitle" column="V_TITLE" />
		<result property="count" column="COUNT" />
		<result property="chNm" column="CH_NM" />
		<result property="tag" column="TAG" />
		<result property="vblYn" column="VBL_YN" />
		<result property="uploadDt" column="UPLOAD_DT" />
		<result property="modifyDt" column="MODIFY_DT" />
		<result property="adultAut" column="ADULT_AUT" />
		<result property="adYn" column="AD_YN" />
		<result property="adInfo" column="AD_INFO" />
		<result property="location" column="LOCATION" />
		<result property="info" column="INFO" />

		<result property="fileNm" column="FILE_NM" />

		<result property="openTy" column="OPEN_TY" />
	</resultMap>
	
	<resultMap type="com.kh.with.video.model.vo.Attachment"
		id="attachmentRSet">

		<id property="userNo" column="USER_NO" />
		<result property="amNo" column="AM_NO" />
		<result property="vNo" column="V_NO" />
		<result property="filenm" column="FILE_NM" />
		<result property="amDt" column="AM_DT" />
		<result property="enrollNm" column="ENROLL_NM" />
		<result property="modifyNm" column="MODIFY_NM" />
		<result property="amTY" column="AM_TY" />
	</resultMap>
	
	
	<!-- <select id="videoimagelist"  resultMap="attachmentRSet" parameterType="Attachment" >
		    SELECT A.USER_NO,A.FILEPATH,A.AM_DT,V.V_TITLE,V.CH_NM 
	  FROM ATTACHMENT A ,VIDEO V
	  
	  WHERE V.USER_NO = A.USER_NO
		 SELECT USER_NO,FILEPATH,AM_DT FROM ATTACHMENT 
	</select> -->
<select id="videoimagelist"  resultMap="videoRSet"   >
	   SELECT A.USER_NO,A.FILE_NM,A.AM_DT,V.V_NO,V.V_TITLE,V.CH_NM , V.TAG
	  FROM ATTACHMENT A 
	  JOIN VIDEO V ON(V.V_NO = A.V_NO)
       WHERE V.V_NO 
       NOT IN (SELECT V_NO FROM BLOCK_VIDEO WHERE USER_NO =#{userNo} )
	 
	</select>


<select id="videopop"  resultMap="videoRSet"  parameterType="map" >
	
	   SELECT A.USER_NO,A.FILE_NM,A.AM_DT,V.V_NO,V.V_TITLE,V.CH_NM,V.COUNT, V.TAG 
	  FROM ATTACHMENT A 
	  JOIN VIDEO V ON(V.V_NO = A.V_NO)
	   WHERE V.V_NO 
       NOT IN (SELECT V_NO FROM BLOCK_VIDEO WHERE USER_NO =#{userNo} )
      ORDER BY V.COUNT DESC
	 
	</select>
	
	
	<select id="videonew"  resultMap="videoRSet"  parameterType="map" >
	
	  SELECT A.USER_NO,A.FILE_NM,A.AM_DT,V.V_NO,V.V_TITLE,V.CH_NM , V.TAG
	  FROM ATTACHMENT A 
	  JOIN VIDEO V ON(V.V_NO = A.V_NO)
	   WHERE V.V_NO 
       NOT IN (SELECT V_NO FROM BLOCK_VIDEO WHERE USER_NO =#{userNo} )
	 ORDER BY AM_DT DESC
	</select>
	
	<select id="videobook"  resultMap="videoRSet"  parameterType="map" >
	
	  SELECT A.USER_NO,A.FILE_NM,A.AM_DT,V.V_NO,V.V_TITLE,V.CH_NM , V.TAG
	  FROM ATTACHMENT A 
	  JOIN VIDEO V ON(V.V_NO = A.V_NO)
	   WHERE V.V_NO 
       NOT IN (SELECT V_NO FROM BLOCK_VIDEO WHERE USER_NO =#{userNo} )
	 
	</select>
	
	
	<select id="videolike"  resultMap="videoRSet"  parameterType="map" >
	
	 SELECT A.USER_NO,A.FILE_NM,A.AM_DT,V.V_NO,V.V_TITLE,V.CH_NM ,L.LIKE_NO,V_TY, V.TAG
	  FROM ATTACHMENT A 
	 JOIN VIDEO V ON(V.V_NO = A.V_NO)
	  JOIN VIDEO_LIKE L ON(L.V_NO = A.V_NO)
	   WHERE V_TY='3' AND A.USER_NO=#{userNo} AND V.V_NO 
       NOT IN (SELECT V_NO FROM BLOCK_VIDEO ) 
	</select>


<select id="videosub"  resultMap="videoRSet" >
	
	SELECT A.USER_NO,A.FILE_NM,A.AM_DT,V.V_NO,V.V_TITLE,V.CH_NM ,L.LIKE_NO,V_TY,V.TAG
	  FROM ATTACHMENT A 
	 JOIN VIDEO V ON(V.V_NO = A.V_NO)
	  JOIN VIDEO_LIKE L ON(L.V_NO = A.V_NO)
	   WHERE V_TY='3' AND A.USER_NO=#{userNo} AND V.V_NO 
       NOT IN (SELECT V_NO FROM BLOCK_VIDEO )	 
	</select>


<!-- 썸네일 정보 insert 쿼리 -->

	  <insert id="insertAttachment" parameterType="Attachment">   

   INSERT INTO ATTACHMENT
   VALUES(#{userNo}, AM_NO.NEXTVAL, V_NO.NEXTVAL,SYSDATE, #{fileNm},  '썸네일')

   </insert>  


<select id="videoimagelist1"  resultMap="videoRSet"   >
	 SELECT A.USER_NO,A.FILE_NM,A.AM_DT,V.V_NO,V.V_TITLE,V.CH_NM ,V.TAG
	  FROM ATTACHMENT A 
	  JOIN VIDEO V ON(V.V_NO = A.V_NO)
	</select>


<select id="videopop1"  resultMap="videoRSet"  parameterType="map" >
	
	   SELECT A.USER_NO,A.FILE_NM,A.AM_DT,V.V_NO,V.V_TITLE,V.CH_NM,V.COUNT ,V.TAG
	  FROM ATTACHMENT A 
	  JOIN VIDEO V ON(V.V_NO = A.V_NO)
      ORDER BY V.COUNT DESC
	 
	</select>
	
	
	<select id="videonew1"  resultMap="videoRSet"  parameterType="map" >
	
	  SELECT A.USER_NO,A.FILE_NM,A.AM_DT,V.V_NO,V.V_TITLE,V.CH_NM  ,V.TAG
	  FROM ATTACHMENT A 
	  JOIN VIDEO V ON(V.V_NO = A.V_NO)
	 ORDER BY AM_DT DESC
	</select>
	












</mapper>

