<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ChannelBoard">

     <resultMap type="ChannelBoard" id="channelResultSet">
     
        <result property="userId" column="USER_ID"/>
        <result property="chNm" column="CH_NM"/>
        <result property="fileNm" column="FILE_NM"/>
        <result property="price" column="AMOUNT_PRICE"/>
        <result property="reCount" column="RE_COUNT"/>
        <result property="cCount" column="C_COUNT"/>
     </resultMap>



		
  	<select id="channelInfo" resultMap="channelResultSet">
  		SELECT L.CH_NM, M.USER_ID, A.FILE_NM
		FROM LOGER L
		JOIN MEMBER M ON(L.USER_NO = M.USER_NO)
		JOIN ATTACHMENT A ON(L.USER_NO = A.USER_NO)
		WHERE A.AM_TY = '회원'
  	</select>
  	
  	<select id="info" resultMap="channelResultSet">
		select *
		from (SELECT SUM(C.AMOUNT_PRICE) as amount_price, 
		       SUM(RE_COUNT) as re_count, 
		       SUM(C_COUNT) as c_count
				FROM LOGER L
				JOIN CALCULATE C ON(L.CH_NO = C.CH_NO)
				JOIN REPORT R ON(L.USER_NO = R.RE_TARGET))
  	</select>
  	
<!-- resultType="hashMap" -->
</mapper>
