<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="friend">
	 <resultMap type="com.kh.with.main.model.vo.MailVo" id="FriendListResultSet">
		 <id property="userNo" column="USER_NO" />
		<result property="frino" column="FRI_NO" />
		<result property="userId" column="USER_ID" /> 
		<result property="friId" column="FRI_ID" />
		<result property="status_yn" column="STATUS_YN" />
	</resultMap>
	<select id="FriendList" resultMap="FriendListResultSet" parameterType="com.kh.with.main.model.vo.MailVo">
	
		SELECT DISTINCT USER_ID,FRI_ID FROM FRIEND WHERE STATUS_YN='Y'
	
	</select>
	 

</mapper>