<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Loger">
  	

   <!-- 채원이꺼 
  	<resultMap type="Calculate" id="calculateResultSet">
  		<id property="calNo" column="CAL_NO"/>
  		<result property="userNo" column="USER_NO"/>
  		<result property="chNo" column="CH_NO"/>
  		<result property="calSTDT" column="CAL_STDT"/>
  		<result property="calEDT" column="CAL_EDT"/>
  		<result property="calPrice" column="CAL_PRICE"/>
  		<result property="calVAT" column="CAL_VAT"/>
  		<result property="calTY" column="CAL_TY"/>
  		<result property="accNm" column="ACC_NM"/>
  		<result property="bankNm" column="BANK_NM"/>
  		<result property="account" column="ACCOUNT"/>
  		<result property="nNo" column="RANK"/>
  	</resultMap>
  	
  	<resultMap type="Loger" id="logerResultSet">
  		<id property="chNo" column="CH_NO"/>
  		<result property="userNo" column="USER_NO"/>
  		<result property="chNm" column="CH_NM"/>
  		<result property="vNo" column="V_NO"/>
  		<result property="calApply" column="CAL_APPLY"/>
  		<result property="chDT" column="CH_DT"/>
  		<result property="chInfo" column="CH_INFO"/>
  		<result property="accNm" column="ACC_NM"/>
  		<result property="bankNm" column="BANK_NM"/>
  		<result property="account" column="ACCOUNT"/>
  		<result property="subNum" column="SUBNUM"/>
  	</resultMap>
  	
  	<resultMap type="Support" id="supportResultSet">
  		<id property="supNo" column="SUP_NO"/>
  		<result property="userNo" column="USER_NO"/>
  		<result property="chNo" column="CH_NO"/>
  		<result property="supDT" column="SUP_DT"/>
  		<result property="supPrice" column="SUP_PRICE"/>
  		<result property="supTY" column="SUP_TY"/>
  		<result property="nNo" column="RANK"/>
  		<result property="nickname" column="NICKNAME"/>
  	</resultMap>
  
    끝 -->

  	     <resultMap type="Calculate" id="calculateResultSet">
        <id property="calNo" column="CAL_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="chNo" column="CH_NO"/>
        <result property="calSTDT" column="CAL_STDT"/>
        <result property="calEDT" column="CAL_EDT"/>
        <result property="calPrice" column="CAL_PRICE"/>
        <result property="amountPrice" column="AMOUNT_PRICE"/>
        <result property="calVAT" column="CAL_VAT"/>
        <result property="calTY" column="CAL_TY"/>
        <result property="accNm" column="ACC_NM"/>
        <result property="bankNm" column="BANK_NM"/>
        <result property="account" column="ACCOUNT"/>
        <result property="nNo" column="RANK"/>
     </resultMap>
     
     <resultMap type="Loger" id="logerResultSet">
        <id property="chNo" column="CH_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="chNm" column="CH_NM"/>
        <result property="vNo" column="V_NO"/>
        <result property="calApply" column="CAL_APPLY"/>
        <result property="chDT" column="CH_DT"/>
        <result property="chInfo" column="CH_INFO"/>
        <result property="accNm" column="ACC_NM"/>
        <result property="bankNm" column="BANK_NM"/>
        <result property="account" column="ACCOUNT"/>
        <result property="subNum" column="SUBNUM"/>
     </resultMap>
     
     <resultMap type="Support" id="supportResultSet">
        <id property="supNo" column="SUP_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="chNo" column="CH_NO"/>
        <result property="supDT" column="SUP_DT"/>
        <result property="supPrice" column="SUP_PRICE"/>
        <result property="supTY" column="SUP_TY"/>
        <result property="nNo" column="RANK"/>
        <result property="nickname" column="NICKNAME"/>
     </resultMap>
	
  	<select id="selectLogerCalculate" resultMap="calculateResultSet">
  		SELECT RANK, CAL_NO, USER_NO, CH_NO, CAL_STDT, CAL_EDT, CAL_PRICE, CAL_VAT, AMOUNT_PRICE, CAL_TY, ACC_NM, BANK_NM, ACCOUNT
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY C.CAL_STDT DESC) RANK, C.*
		FROM CALCULATE C
		JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
		WHERE M.USER_ID = #{userId})
		ORDER BY RANK ASC
  	</select>	
  	
  	<select id="selectLogerSupport" resultMap="supportResultSet">
  		SELECT RANK, NICKNAME, SUP_NO, USER_NO, CH_NO, SUP_DT, SUP_PRICE, SUP_TY
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY S.SUP_DT DESC) RANK, M.NICKNAME, S.*
		FROM SUPPORT S
		JOIN MEMBER M ON(S.USER_NO = M.USER_NO)
		WHERE M.USER_ID = #{userId})
		ORDER BY RANK ASC
  	</select>	
  	
  	<select id="logerLastAccount" resultMap="logerResultSet">
  		SELECT *
		FROM LOGER L
		JOIN MEMBER M ON(L.USER_NO = M.USER_NO)
		WHERE M.USER_ID = #{userId}
  	</select>
  	
  		
	<!-- 로거채널개설 insert 쿼리 -->
	<insert id="insertcreateChannel"  parameterType="Loger">
	INSERT INTO LOGER
	VALUES (CH_NO.NEXTVAL, #{userNo},  #{chNo} , 0, 'N' , SYSDATE , #{chNo})
	</insert>  
  	
  	
  	<!-- 로거 기간별 후원 내역 조회 -->
  	<select id="selectLogetSupportDate" resultMap="supportResultSet">
  		SELECT RANK, NICKNAME, SUP_NO, USER_NO, CH_NO, SUP_DT, SUP_PRICE, SUP_TY
		FROM(SELECT ROW_NUMBER() OVER(ORDER BY S.SUP_DT DESC) RANK, M.NICKNAME, S.*
		FROM SUPPORT S
		JOIN MEMBER M ON(S.USER_NO = M.USER_NO)
		WHERE S.USER_NO = #{userNo})
		WHERE SUP_DT BETWEEN TO_CHAR(TO_DATE(#{mon},'YYYY-MM-DD')) AND TO_CHAR(TO_DATE(#{day},'YYYY-MM-DD'))
		<!-- AND RANK BETWEEN 1 AND 10 -->
		ORDER BY RANK ASC
  	</select>
  	
  	<!-- 로거 계좌 update -->
  	<update id="updateLogerAccount" parameterType="Loger">
  		UPDATE LOGER SET ACC_NM = #{accNm}, BANK_NM = #{bankNm}, ACCOUNT = #{account}
		WHERE USER_NO = #{userNo}
  	</update>
  	
  	<!-- 로거 기간별 후원 내역 조회의 값만 -->
  	<select id="selectLogetSupportPrice" resultMap="supportResultSet">
  		SELECT SUP_PRICE
		FROM SUPPORT S
		JOIN MEMBER M ON(S.USER_NO = M.USER_NO)
		WHERE S.USER_NO = #{userNo}
		AND SUP_DT BETWEEN TO_CHAR(TO_DATE(#{mon},'YYYY-MM-DD')) AND TO_CHAR(TO_DATE(#{day},'YYYY-MM-DD'))
  	</select>

</mapper>









