<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.kh.with.main.model.dao.MailDao">
	<resultMap type="com.kh.with.main.model.vo.MailVo" id="mailResultSet">
		<result property="userId" column="USER_ID" /> 
		<result property="friId" column="FRI_ID" />
		<result property="status_yn" column="STATUS_YN" />
	</resultMap>
 
<insert id="friendemail" parameterType="MailVO">
	INSERT INTO FRIEND VALUES (#{friId},#{userId},#{status_yn})</insert>
	
<insert id="regUser" parameterType="MailVO">
	INSERT INTO FRIEND VALUES (#{userId},#{friId},#{status_yn})</insert>
 

<update id="GetKey" parameterType="Map">
 
UPDATE FRIEND SET STATUS_YN = #{param2} WHERE USER_ID= #{param1} 
</update>

 <update id="alter_userKEY" parameterType="Map">
  UPDATE FRIEND SET STATUS_YN ='Y' WHERE USER_ID=#{param1}  AND STATUS_YN = #{param2} 
 </update>

</mapper>