<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="VideoLike">

	<resultMap type="VideoLike" id="videoLikeResultSet">
		<id property="likeNo" column="LIKE_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="vNo" column="V_NO" />
		<result property="chNo" column="CH_NO" />
		<result property="vTY" column="V_TY" />
		<result property="vTitle" column="V_TITLE" />
		<result property="uploadDT" column="UPLOAD_DT" />
		<result property="fileNm" column="FILE_NM" />
		<result property="vfileNm" column="VFILE_NM" />
		<result property="nNo" column="RANK" />
	</resultMap>
	
	 <resultMap type="Alram" id="AlramResultSet"> 
	    <id property="alNo" column="AL_NO"/>
		<result property="userNo" column="USER_NO" />
		<result property="alDT" column="AL_DT" />
        <result property="alCT" column="AL_CT"/>
        <result property="alYN" column="AL_YN"/>
        <result property="subNo" column="SUB_NO"/>
        <result property="re_no" column="REP_NO"/>
        <result property="vNo" column="V_NO"/>
        <result property="retarget" column="RE_TARGET"/>
        <result property="chNo" column="CH_NO"/>
        <result property="nNo" column="RANK" />
     </resultMap> 
     
     <resultMap type="NewlyVideo" id="NewlyVideoResultSet">
		<id property="vNo" column="V_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="newlyDt" column="NEWLY_DT" />
	</resultMap>
     

	<!-- 북마크 조회 -->
	<select id="showBookmark" resultMap="videoLikeResultSet">
		SELECT RANK, LIKE_NO,
		USER_NO, V_NO, CH_NO, V_DT, V_TY, V_TITLE, UPLOAD_DT, FILE_NM, VFILE_NM
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY VL.V_DT DESC) RANK, VL.*, V_TITLE,
		UPLOAD_DT, A.FILE_NM, V.FILE_NM VFILE_NM
		FROM VIDEO_LIKE VL
		JOIN MEMBER M ON(VL.USER_NO = M.USER_NO)
		JOIN VIDEO V ON(VL.V_NO = V.V_NO)
		JOIN ATTACHMENT A ON(V.V_NO = A.V_NO)
		WHERE VL.USER_NO = #{userNo}
        AND V_TY = '북마크')
		ORDER BY RANK ASC
	</select>
	
	<!--좋아요  조회 -->
	<select id="showVideoLike" resultMap="videoLikeResultSet">
		SELECT RANK, LIKE_NO,
		USER_NO, V_NO, CH_NO, V_DT, V_TY, V_TITLE, UPLOAD_DT, FILE_NM, VFILE_NM
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY VL.V_DT DESC) RANK, VL.*, V_TITLE,
		UPLOAD_DT, A.FILE_NM, V.FILE_NM VFILE_NM
		FROM VIDEO_LIKE VL
		JOIN MEMBER M ON(VL.USER_NO = M.USER_NO)
		JOIN VIDEO V ON(VL.V_NO = V.V_NO)
		JOIN ATTACHMENT A ON(V.V_NO = A.V_NO)
		WHERE VL.USER_NO = #{userNo}
		AND V_TY = '좋아요')
		ORDER BY RANK ASC
	</select>

	<!-- 검색한 제목의 북마크 조회 -->
	<select id="selectBookmark" resultMap="videoLikeResultSet">
		SELECT RANK, LIKE_NO, USER_NO, V_NO, CH_NO, V_DT, V_TY, V_TITLE, UPLOAD_DT, FILE_NM, VFILE_NM
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY VL.V_DT DESC) RANK,	VL.*, V_TITLE,
		UPLOAD_DT, A.FILE_NM, V.FILE_NM VFILE_NM
		FROM VIDEO_LIKE VL
		JOIN MEMBER M ON(VL.USER_NO = M.USER_NO)
		JOIN VIDEO V ON(VL.V_NO = V.V_NO)
		JOIN ATTACHMENT A ON(V.V_NO = A.V_NO)
		WHERE VL.USER_NO = #{userNo}
		AND V_TITLE LIKE '%' || #{vTitle} || '%')
		ORDER BY RANK ASC
	</select>
	
	<!-- 검색한 제목의 좋아요  조회 -->
	<select id="selectVideoLike" resultMap="videoLikeResultSet">
		SELECT RANK, LIKE_NO, USER_NO, V_NO, CH_NO, V_DT, V_TY, V_TITLE, UPLOAD_DT, FILE_NM, VFILE_NM
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY VL.V_DT DESC) RANK,	VL.*, V_TITLE,
		UPLOAD_DT, A.FILE_NM, V.FILE_NM VFILE_NM
		FROM VIDEO_LIKE VL
		JOIN MEMBER M ON(VL.USER_NO = M.USER_NO)
		JOIN VIDEO V ON(VL.V_NO = V.V_NO)
		JOIN ATTACHMENT A ON(V.V_NO = A.V_NO)
		WHERE VL.USER_NO = #{userNo}
		AND V_TITLE LIKE '%' || #{vTitle} || '%')
		ORDER BY RANK ASC
	</select>
	
	<select id="selectAlram" resultMap="AlramResultSet">
		SELECT RANK, AL_NO, USER_NO, AL_DT, AL_CT, AL_YN, SUB_NO, REP_NO, V_NO, CH_NO
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY AL_DT DESC) RANK, A.*
   		FROM ALRAM A
 	    WHERE USER_NO = #{userNo})
		WHERE RANK BETWEEN 1 AND 10
		ORDER BY RANK ASC
	</select>
	
	<select id="newActionList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ROW_NUMBER()
		OVER(ORDER BY nv.newly_dt DESC)
		RANK,NV.*,L.CH_NO,V_TITLE,V.CH_NM,FILE_NM
		FROM NEWLY_VIDEO NV
		,LOGER L
		,VIDEO V
		WHERE NV.USER_NO = L.USER_NO(+)
		AND NV.USER_NO = V.USER_NO(+)
		AND NV.USER_NO= #{userNo}
		AND NEWLY_DT=SYSDATE
		ORDER BY NEWLY_DT DESC

	</select>

</mapper>

