<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Notice">
	<resultMap type="noticeEmail" id="noticeEmailResultSet">
		
		<id property="userId" column="USER_ID" />
		<result property="notice_No" column="NOTICE_NO" />
		<result property="tomail" column="TO_MAIL" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
	</resultMap>
		<resultMap type="Attachment" id="attachmentResultSet">
		<id property="userNo" column="USER_NO" />
		<result property="amNo" column="AM_NO" />
		<result property="vNo" column="V_NO" />
		<result property="amDt" column="AM_DT" />
		<result property="fileNm" column="FILE_NM" />
		<result property="amTY" column="AM_TY" />
	</resultMap>
	
	<resultMap type="ChatContent" id="chatContentResultSet">
		<id property="ccNo" column="CC_NO" />
		<result property="chatNo" column="CHAT_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="ccDt" column="CC_DT" />
		<result property="ccCt" column="CC_CT" />
		</resultMap>
		
		<resultMap type="Chat2" id="chatReqResultSet">
		<id property="chatNo" column="CHAT_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="chatDt" column="CHAT_DT" />
		<result property="status" column="Q_STATUS" />
		<result property="nNo" column="RANK" />
		<result property="userNm" column="USER_NM" />
		
	</resultMap>
	
	<insert id="noticeEmail" parameterType="map">
		INSERT INTO NOTICEEMAIL
		VALUES( NOTICE_NO.NEXTVAL ,#{userId}, #{tomail}, #{title}, #{content}, SYSDATE)
	
	</insert>	

		
	<select id="selectUserImg" parameterType="map" resultType="String">
		SELECT A.FILE_NM
		FROM MEMBER M
		JOIN ATTACHMENT A ON(M.USER_NO = A.USER_NO)
		WHERE M.USER_NO = #{userNo}
		AND A.AM_TY = '회원'
	</select>
		
	<insert id="insertChat" parameterType="int">
		INSERT INTO CHAT
		VALUES(CHAT_NO.NEXTVAL, #{userNo}, SYSDATE, DEFAULT)
	</insert>
		
	<insert id="insertChatContent" parameterType="ChatContent">
	INSERT INTO CHAT_CONTENT VALUES (CC_NO.NEXTVAL, #{chatNo}, #{userNo}, SYSDATE, #{ccCt})
	</insert>
	
	<select id="selectChatNo" parameterType="int" resultType="int">
		SELECT CHAT_NO
		FROM(SELECT CHAT_NO, ROW_NUMBER() OVER(ORDER BY CHAT_NO DESC) AS RNUM
		FROM CHAT
		WHERE USER_NO = #{userNo})
		WHERE RNUM = 1
	</select>
		
	<select id="selectUserQuestion" resultMap="chatReqResultSet" parameterType="Chat2">
	SELECT ROW_NUMBER() OVER(ORDER BY CHAT_DT DESC) RANK,C.*, M.USER_NM
        FROM CHAT C
        JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
        WHERE C.USER_NO = #{userNo}
	</select>
</mapper>

