<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Reply">

	<resultMap type="Reply" id="replyResultSet">
		<id property="repNo" column="REP_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="vNo" column="V_NO" />
		<result property="repDt" column="REP_DT" />
		<result property="repCt" column="REP_CT" />
		<result property="repTy" column="REP_TY" />
		<result property="parentNo" column="PARENT_NO" />
		<result property="chNm" column="CH_NM" />
		<result property="userFile" column="VFILENM" />
		<result property="thumbnail" column="THUMBNAIL" />
		<result property="count" column="COUNT" />
		<result property="vtitle" column="V_TITLE" />
	</resultMap>
	
  	<!-- 로거 댓글 출력 -->
	<select id="showLogerReply" resultMap="replyResultSet">
	SELECT * 
	FROM (SELECT L.CH_NM, V.V_TITLE, V.COUNT, V.FILE_NM VFILENM, A2.FILE_NM THUMBNAIL, R.*,
             RANK() OVER(ORDER BY R.REP_NO DESC) AS R
     	 FROM MEMBER M
     	 JOIN VIDEO V ON(M.USER_NO = V.USER_NO)
    	 JOIN ATTACHMENT A1 ON(M.USER_NO = A1.USER_NO)	
     	 JOIN ATTACHMENT A2 ON(V.V_NO = A2.V_NO)
      	JOIN REPLY R ON(V.V_NO = R.V_NO)
      	JOIN LOGER L ON(R.USER_NO = L.USER_NO)
      	WHERE A1.AM_TY = '회원'
      	AND A2.AM_TY = '썸네일'
      	AND V.USER_NO = #{userNo})
	
	</select>
     
     
    <delete id="replyDelete" parameterType="int">
	 	DELETE FROM REPLY WHERE REP_NO = #{repNo}
	 </delete>
	
	
</mapper>


