<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userBoard">

	<resultMap type="userBoard" id="userBoardResultSet">
		<id property="userNo" column="USER_NO" />
		<result property="userId" column="USER_ID" />
		<result property="phone" column="PHONE" />
		<result property="chYn" column="CH_YN" />
		<result property="chNo" column="CH_NO" />
		<result property="chNm" column="CH_NM" />
		<result property="enrollDate" column="ENROLL_DT" />
		<result property="status" column="STATUS" />
		<result property="reTy" column="RE_TY" />
		<result property="reCount" column="RE_COUNT" />
		<result property="cCount" column=" C_COUNT" />
	</resultMap>

	<select id="selectUserlist" resultMap="userBoardResultSet">
		SELECT USER_NO,USER_ID,CH_NM,CH_YN,ENROLL_DT,STATUS
		FROM (SELECT ROW_NUMBER()
		OVER(ORDER BY M.USER_NO DESC) RANK
		,M.USER_NO,M.USER_ID,L.CH_NM,M.CH_YN,M.ENROLL_DT,M.STATUS
		FROM MEMBER M
		JOIN LOGER L ON(M.USER_NO = L.USER_NO))
	</select>

	<!-- 회원관리 -->
	<select id="detailList1" resultMap="userBoardResultSet">
		SELECT M.USER_ID,M.PHONE,L.CH_NM,M.ENROLL_DT,R.RE_COUNT,R.C_COUNT
		FROM MEMBER M
		JOIN LOGER L ON(M.USER_NO = L.USER_NO)
		JOIN REPORT R ON(M.USER_NO = R.USER_NO)
	</select>
</mapper>
