<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Video">

	<resultMap type="Video" id="videoResultSet">
		<id property="vNo" column="V_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="vTitle" column="V_TITLE" />
		<result property="count" column="COUNT" />
		<result property="chNm" column="CH_NM" />
		<result property="tag" column="TAG" />
		<result property="vblYn" column="VBL_YN" />
		<result property="uploadDt" column="UPLOAD_DT" />
		<result property="modifyDt" column="MODIFY_DT" />
		<result property="adultAut" column="ADULT_AUT" />
		<result property="adYn" column="AD_YN" />
		<result property="adInfo" column="AD_INFO" />
		<result property="location" column="LOCATION" />
		<result property="info" column="INFO" />
		<result property="filepath" column="FILEPATH" />
		<result property="openTy" column="OPEN_TY" />
	</resultMap>
	
  	<resultMap type="Loger" id="logerResultSet">
  		<id property="chNo" column="CH_NO"/>
  		<result property="userNo" column="USER_NO"/>
  		<result property="chNm" column="CH_NM"/>
  		<result property="vNo" column="V_NO"/>
  		<result property="chDT" column="CH_DT"/>
  		<result property="chInfo" column="CH_INFO"/>
  		<result property="accNm" column="ACC_NM"/>
  		<result property="bankNm" column="BANK_NM"/>
  		<result property="account" column="ACCOUNT"/>
  		<result property="subNum" column="SUBNUM"/>
  	</resultMap>
  	
	<resultMap type="Reply" id="replyResultSet">
		<id property="repNo" column="REP_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="vNo" column="V_NO" />
		<result property="repDt" column="REP_DT" />
		<result property="repCt" column="REP_CT" />
		<result property="repTy" column="REP_TY" />
	</resultMap>
	
	<resultMap type="com.kh.with.video.model.vo.Attachment"
		id="attachmentResultSet">

		<id property="userNo" column="USER_NO" />
		<result property="amNo" column="AM_NO" />
		<result property="filepath" column="FILEPATH" />
		<result property="amDt" column="AM_DT" />
		<result property="enrollNm" column="ENROLL_NM" />
		<result property="modifyNm" column="MODIFY_NM" />
		<result property="amTY" column="AM_TY" />
	</resultMap>
	
	     <resultMap type="Support" id="supportResultSet">
        <id property="supNo" column="SUP_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="chNo" column="CH_NO"/>
        <result property="supSTDT" column="SUP_STDT"/>
        <result property="supPrice" column="SUP_PRICE"/>
        <result property="supTY" column="SUP_TY"/>
        <result property="nNo" column="RANK"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="regEDT" column="REG_EDT"/>
        <result property="regStatus" column="REG_STATUS"/>
     </resultMap>

	<!-- 업로드할 동영상 정보 insert 쿼리 -->
 	<insert id="insertVideoInfo" parameterType="Video">	 	
	INSERT INTO VIDEO
	VALUES(V_NO.NEXTVAL, #{userNo}, #{vTitle}, 0, #{chNm}, #{tag},'N', SYSDATE, NULL,'Y',#{adYn}  ,#{adInfo},
	NULL, NULL, #{filepath}, #{openTy})
 	
	</insert>
	
	

	<!-- 동영상페이지 비디오 정보 -->
	<select id="selectVideoInfo" parameterType="map" resultMap="videoResultSet">
		SELECT *
		FROM VIDEO
		WHERE USER_NO = #{userNo}
		AND V_NO = #{vNo}
	</select>
	<!-- 동영상페이지 로거 정보 -->
	<select id="selectLogerInfo" parameterType="map" resultMap="logerResultSet">
		SELECT *
		FROM LOGER
		WHERE USER_NO = #{userNo}
		AND V_NO = #{vNo}
	</select>
	
	<!-- 동영상페이지  -->
	<select id="selectRegStatus" parameterType="map" resultType="int">
		SELECT R.RS_STATUS
		FROM REGULAR_SUB R
		JOIN LOGER L ON(R.USER_NO = L.USER_NO)
		WHERE R.USER_NO = #{userNo}
		AND R.CH_NO = #{chNo}
	</select>
	
	<!-- 동영상페이지 후원 내역 추가 -->
	<insert id="insertReg" parameterType="map">
		INSERT INTO SUPPORT
		VALUES(SUP_NO.NEXTVAL, #{userNo}, #{chNo}, SYSDATE, #{price}, '정기', NULL, 1)
	</insert>

	<insert id="insertOnce" parameterType="map">
		INSERT INTO SUPPORT
		VALUES(SUP_NO.NEXTVAL, #{userNo}, #{chNo}, SYSDATE, #{price}, DEFAULT, NULL, 1)
	</insert>
	
	<insert id="insertLike" parameterType="map">
		INSERT INTO VIDEO_LIKE
		VALUES(LIKE_NO.NEXTVAL, #{userNo}, #{vNo}, #{chNo}, '좋아요')
	</insert>
	
	<delete id="deleteLike">
		DELETE FROM VIDEO_LIKE
		WHERE USER_NO = #{userNo}
		AND V_NO = #{vNo}
		AND CH_NO = #{chNo}
		AND V_TY = '좋아요'
	</delete>
	
	<insert id="insertHate" parameterType="map">
		INSERT INTO VIDEO_LIKE
		VALUES(LIKE_NO.NEXTVAL, #{userNo}, #{vNo}, #{chNo}, '싫어요')
	</insert>
	
	<delete id="deleteHate">
		DELETE FROM VIDEO_LIKE
		WHERE USER_NO = #{userNo}
		AND V_NO = #{vNo}
		AND CH_NO = #{chNo}
		AND V_TY = '싫어요'
	</delete>

	<insert id="insertBookmark" parameterType="map">
		INSERT INTO VIDEO_LIKE
		VALUES(LIKE_NO.NEXTVAL, #{userNo}, #{vNo}, #{chNo}, '북마크')
	</insert>
	
	<delete id="deleteBookmark">
		DELETE FROM VIDEO_LIKE
		WHERE USER_NO = #{userNo}
		AND V_NO = #{vNo}
		AND CH_NO = #{chNo}
		AND V_TY = '북마크'
	</delete>
	
	
</mapper>

