<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.with.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.kh.with.loger.model.vo.Loger" alias="Loger" />
		<typeAlias type="com.kh.with.loger.model.vo.Loger2" alias="Loger2" />
		<typeAlias type="com.kh.with.loger.model.vo.Calculate" alias="Calculate" />
		<typeAlias type="com.kh.with.loger.model.vo.Support" alias="Support" />
		<typeAlias type="com.kh.with.main.model.vo.MailVo" alias="MailVo" />
 		<typeAlias type="com.kh.with.video.model.vo.Video" alias="Video" />
		<typeAlias type="com.kh.with.video.model.vo.Attachment" alias="Attachment" />
		<typeAlias type="com.kh.with.admin.model.vo.Board" alias="Board" />
		<typeAlias type="com.kh.with.report.model.vo.Report" alias="Report" />
		<typeAlias type="com.kh.with.block.model.vo.Blockch" alias="Blockch" />
		<typeAlias type="com.kh.with.reply.model.vo.Reply" alias="Reply" />
		<typeAlias type="com.kh.with.main.model.vo.VideoLike" alias="VideoLike" />
	
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/main-mapper.xml"/>
		<mapper resource="mappers/loger-mapper.xml"/>
		<mapper resource="mappers/mail-mapper.xml"/>
    	<mapper resource="mappers/friend-mapper.xml"/>
		<mapper resource="mappers/video-mapper.xml"/>
		<mapper resource="mappers/Board-mapper.xml"/>
		<mapper resource="mappers/attachment-mapper.xml"/>
		<mapper resource="mappers/report-mapper.xml"/>
		
		
		
		
	</mappers>
</configuration>