<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases> 
		<typeAlias type="com.kh.with.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.kh.with.loger.model.vo.Loger" alias="Loger" />
		<typeAlias type="com.kh.with.loger.model.vo.Loger2" alias="Loger2" />
		<typeAlias type="com.kh.with.loger.model.vo.Calculate" alias="Calculate" />
		<typeAlias type="com.kh.with.loger.model.vo.Support" alias="Support" />
		<typeAlias type="com.kh.with.main.model.vo.MailVo" alias="MailVo" />
 		<typeAlias type="com.kh.with.video.model.vo.Video" alias="Video" />
		<typeAlias type="com.kh.with.video.model.vo.Attachment" alias="Attachment" />
		<typeAlias type="com.kh.with.admin.model.vo.Board" alias="Board" />
		<typeAlias type="com.kh.with.report.model.vo.Report" alias="Report" />
		<typeAlias type="com.kh.with.report.model.vo.Report2" alias="Report2" />
		<typeAlias type="com.kh.with.block.model.vo.Blockvi" alias="Blockvi" />
		<typeAlias type="com.kh.with.block.model.vo.Blockch" alias="Blockch" />
		<typeAlias type="com.kh.with.block.model.vo.Blockrep" alias="Blockrep" />
		<typeAlias type="com.kh.with.reply.model.vo.Reply" alias="Reply" />
		<typeAlias type="com.kh.with.video.model.vo.Reply2" alias="Reply2" />
		<typeAlias type="com.kh.with.main.model.vo.VideoLike" alias="VideoLike" />
		<typeAlias type="com.kh.with.admin.model.vo.Calculate" alias="Calculate2" />
		<typeAlias type="com.kh.with.main.model.vo.Subscribe" alias="Subscribe"/>
		<typeAlias type="com.kh.with.main.model.vo.SubscribeVideo" alias="SubscribeVideo"/>
		<typeAlias type="com.kh.with.admin.model.vo.UserBoard" alias="userBoard" />
		<typeAlias type="com.kh.with.admin.model.vo.ChannelBoard" alias="ChannelBoard" />
		<typeAlias type="com.kh.with.main.model.vo.Alram" alias="Alram" />
   	    <typeAlias type="com.kh.with.main.model.vo.Friend" alias="Friend"/>
	    <typeAlias type="com.kh.with.loger.model.vo.MyVideo" alias="MyVideo" />
		<typeAlias type="com.kh.with.payment.model.vo.Payment" alias="Payment" />
		<typeAlias type="com.kh.with.Chat.model.vo.chatRoom" alias="chatRoom"/>
	    <typeAlias type="com.kh.with.Chat.model.vo.Text" alias="Text"/>
	    <typeAlias type="com.kh.with.loger.model.vo.SubUserInfo" alias="SubUserInfo" />
	    <typeAlias type="com.kh.with.websocket.model.vo.ChatMember" alias="ChatMember" />
	     <typeAlias type="com.kh.with.websocket.model.vo.Chat" alias="Chat" />

	     <typeAlias type="com.kh.with.video.model.vo.AddPlace" alias="AddPlace" />
	     <typeAlias type="com.kh.with.video.model.vo.AddInfo" alias="AddInfo" />

	     <typeAlias type="com.kh.with.notice.model.vo.noticeEmail" alias="noticeEmail" />
	     <typeAlias type="com.kh.with.loger.model.vo.AddVideo" alias="AddVideo" />
	     <typeAlias type="com.kh.with.reply.model.vo.Reply" alias="Reply" />
	     

	</typeAliases>
	<mappers>
	<mapper resource="mappers/Chat-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/main-mapper.xml"/>
		<mapper resource="mappers/loger-mapper.xml"/>
		<mapper resource="mappers/mail-mapper.xml"/>
    	<mapper resource="mappers/friend-mapper.xml"/>
		<mapper resource="mappers/video-mapper.xml"/>
		<mapper resource="mappers/Board-mapper.xml"/>
		<mapper resource="mappers/attachment-mapper.xml"/>
		<mapper resource="mappers/report-mapper.xml"/>
    	<mapper resource="mappers/block-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/subscribe-mapper.xml"/>
		<mapper resource="mappers/userboard-mapper.xml"/>
		<mapper resource="mappers/channelBoard-mapper.xml"/>
		<mapper resource="mappers/MyVideo-mapper.xml"/>
		<mapper resource="mappers/payment-mapper.xml"/>
		<mapper resource="mappers/alram-mapper.xml"/>

		<mapper resource="mappers/addPlace-mapper.xml"/>
		<mapper resource="mappers/addInfo-mapper.xml"/>

		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/reply-mapper.xml"/>
	</mappers>
</configuration>